importFrom('Seurat', 'Project', 'Assays', 'DefaultAssay', 'GetAssayData', 'Reductions', 'NormalizeData', 'FindVariableFeatures', 'ScaleData', 'RunPCA', 'FindNeighbors', 'RunUMAP', 'RunTSNE', 'DimPlot', 'DarkTheme', 'LabelClusters', 'FeaturePlot', 'CreateSeuratObject', 'CreateDimReducObject', 'CellCycleScoring')
importFrom('sparseMatrixStats', 'colCounts', 'rowSums2')
importFrom('knitr', 'kable')
importFrom('SoupX', 'SoupChannel', 'setSoupProfile', 'estimateSoup', 'setClusters', 'autoEstCont', 'adjustCounts')
importFrom('scran', 'quickCluster', 'cyclone')
importFrom('matrixStats', 'colSds')
importFrom('Matrix', 'colSums')
importFrom('ComplexHeatmap', 'Heatmap')
importFrom('circlize', 'colorRamp2')
importFrom('celldex', 'ImmGenData')
importFrom('SingleR', 'SingleR')
importFrom('BiocParallel', 'SerialParam')
importFrom('methods', 'slotNames')
export('SeuratObject_descriptor', 'QnD_viz', 'SoupX_auto', 'CC_Seurat', 'CC_Cyclone', 'assess_covar', 'cell_annot')